
<!-- Header -->
<app-header-template>

  <section class="container" style="margin-top:120px;" headerContent>
    <div class="row">
      <div class="col-md-10 mx-auto">
        <div class="box_border text-center" style="background: url('../../../../assets/images/bg/game500px.png')">

          <div class="form" style="min-height:600px;padding:0 10px;">

            <img class="mt-5" src="../../../../assets/images/icon-big/user.png" alt="User Icon" style="width:80px;">
            <h6 class="mt-3">Olubode_michael1367@mail.com</h6>

            <h4 class="mt-5 font-weight-bold">
              Welcome to Playcode,<br>
              Olubode_michael1367!
            </h4>

            <p class="mt-5">
              <small>
                Your answers to the next few questions will help us <br>
                Find the right ideas for you.
              </small>
            </p>

            <div class="row mt-4">
              <div class="col-md-4 mx-auto">
                <button class="btn btn-primary-dark btn-block">Next</button>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </section>

</app-header-template>

