



<!-- Header -->
<app-header-template>
    <!-- Main Container -->
    <section class="main_content" headerContent>
      <div class="row header-text" style=""> <!-- position: absolute;top:150px; -->
        <div class="col-md-6 txt-left">
          <h2>A whole new <br>gaming<br> experience<br> is here  </h2>
          <div style="width: 60px; height: 8px; background-color: #ffffff; border-radius: 50px;"></div>
          <hr class="left ">
          <p class="text-light-50" style="font-size: 0.7em !important; line-height: 1.2 !important;">All the games you love and a<br> little bit of more.</p>
        </div>
        <div class="col-md-6">
          <img src="../../../assets/images/gamepad.png" class="img-responsive" width="100%" alt="gpad-home">
        </div>
      </div>

      <div class="clearfix"></div>
      <div class="text-center" style="margin-top:80px;">
        <a routerLink="/register" class="btn btn-black-custom btn-bold animation-glow">Sign up</a><br><br>
        <a href="#"><img class="mt-4" src="../../../assets/images/icon/arrowlist_down.png" alt="card icon"></a>
      </div>
    </section>
</app-header-template>


<!-- About Section -->
<section class="container" style="margin-top:120px;">
  <div class="row">
    <div class="col-md-4 mx-auto">
      <div class="box_border about_box">
        <img src="../../../assets/images/about/screen.png" alt="Welcome" style="width: 80%;padding:20px;">
        <p class="mt-4 font-weight-bold" style="font-size: 20px">Welcome to Playcode</p>
        <p>
          All the games you love are here,
          You can play online via web or
          download via mobile.
        </p>
      </div>
    </div>

    <div class="col-md-4 mx-auto">
      <div class="box_border about_box">
        <img src="../../../assets/images/about/dashboard.png" alt="Welcome" style="width: 80%;padding:20px;">
        <p class="mt-4 font-weight-bold" style="font-size: 20px">Browse game collections</p>
        <p>
          Check out varieties of games to play
          and you can open up to five different
          Tabs on web.
        </p>
      </div>
    </div>

    <div class="col-md-4 mx-auto">
      <div class="box_border about_box">
        <img src="../../../assets/images/about/pad.png" alt="Welcome" style="width: 80%;padding:20px;">
        <p class="mt-4 font-weight-bold" style="font-size: 20px">Start playing</p>
        <p class="mb-5">
          Enjoy all your favourite games
          with better user experience.
        </p>
      </div>
    </div>
  </div>
</section>



<!-- Popular Game Section -->
<section style="margin-top:120px;">
  <div class="row no-gutters">
    <div class="col-sm-6 col-xs-6 col-md-3"><img style="height:320px" class="w-100" src="../../../assets/images/demo/game1.png"></div>
    <div class="col-sm-6 col-xs-6 col-md-3"><img style="height:320px" class="w-100" src="../../../assets/images/demo/game2.png"></div>
    <div class="col-sm-6 col-xs-6 col-md-3"><img style="height:320px" class="w-100" src="../../../assets/images/demo/game3.png"></div>
    <div class="col-sm-6 col-xs-6 col-md-3"><img style="height:320px" class="w-100" src="../../../assets/images/demo/game4.png"></div>
  </div>
  <div class="row no-gutters">
    <div class="col-sm-6 col-xs-6 col-md-3"><img style="height:320px" class="w-100" src="../../../assets/images/demo/game5.png"></div>
    <div class="col-sm-6 col-xs-6 col-md-3"><img style="height:320px" class="w-100" src="../../../assets/images/demo/game6.png"></div>
    <div class="col-sm-6 col-xs-6 col-md-3"><img style="height:320px" class="w-100" src="../../../assets/images/demo/game7.png"></div>
    <div class="col-sm-6 col-xs-6 col-md-3"><img style="height:320px" class="w-100" src="../../../assets/images/demo/game8.png"></div>
  </div>
</section>


