<div class="row">
  <div class="col-md-12">
    <div class="ml-4 mr-4">
      <div class="float-left"><a href="#" class="box_border_link" routerLinkActive="box_border_link_active" [routerLink]="['/forgot_password']">Forgot password?</a></div>
      <div class="float-right">
        <a href="#" class="box_border_link" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="box_border_link_active" [routerLink]="['/register']">Register</a>
        &nbsp;<span style="color:#6c63ff">|</span>&nbsp;
        <a href="#" class="box_border_link" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="box_border_link_active" [routerLink]="['/login']">Login</a>
      </div>
    </div>
  </div>
</div>
