<!-- Header -->
<app-header-template>
  <!-- Main Container -->
  <section headerContent>


    <div class="container">

      <div class="mt-5 form row" >
        <div class="mt-2 col-md-6 mx-auto">
          <app-searchbar></app-searchbar>
        </div>
      </div>


      <div class="mt-5 mb-4" style="font-size: 0.8em !important; background: url('../../../assets/images/bg/gameprofile.png') no-repeat; background-position: center center; ">

        <div class="row">
          <div class="col-md-4">
            <img class="w-100" src="../../../assets/images/demo/gameprofileicon.png" alt="Game Profile Image">
          </div>
          <div class="col-md-8">
            <p style="font-family: SignikaNegative, sans-serif; font-weight: 300; font-size: 30px;color: #ffffff;font-style: italic;font-stretch:extra-expanded">PES 2019 PRO EVOLUTION SOCCER</p>
            <div>
              <a routerLink="game/show" class="text-light text-underline" style="font-size: 17px;font-weight: bold;">KONAMI</a> &nbsp; &nbsp;
              <a routerLink="category" class="text-light text-underline" style="font-size: 17px;font-weight: normal;">Sport</a> &nbsp; &nbsp;
              <span routerLink="game/show" class="float-right text-light ml-2" style="font-size:16px">3,145,569</span>
              <a routerLink="game/show" class="float-right"><img src="../../../assets/images/icon/star.png" alt=""></a>
            </div>

            <div class="mt-4">
              <span class="text-light" style="font-size: 17px;">FILE SIZE: 19 mb</span>
              <a routerLink="game/show" class="float-right btn btn-primary-dark">Install</a>
              <a routerLink="game/show" class="mr-2 float-right btn btn-primary-dark">Play now</a>
            </div>



            <div style="margin-top:80px;">
              <div class="row">
                <div class="col-md-1"><a routerLink="#picture_slide_right"><i style="line-height:200px" class="fa fa-chevron-circle-left fa-3x"></i></a></div>
                <div class="col-md-10">
                  <div class="row no-gutters">
                    <div class="col-md-3"><img src="../../../assets/images/demo/game_profile_slide1.png" alt=""></div>
                    <div class="col-md-3"><img src="../../../assets/images/demo/game_profile_slide2.png" alt=""></div>
                    <div class="col-md-3"><img src="../../../assets/images/demo/game_profile_slide3.png" alt=""></div>
                    <div class="col-md-3"><img src="../../../assets/images/demo/game_profile_slide4.png" alt=""></div>
                  </div>
                </div>
                <div class="col-md-1"><a routerLink="#picture_slide_right"><i style="line-height:200px" class="fa fa-chevron-circle-right fa-3x"></i></a></div>
              </div>
            </div>

          </div>
        </div>



        <div style="margin-top:100px; border: solid 1px #6c63ff; border-right: 0; border-left: 0;padding:20px;">
          <div class="row">
            <div class="col-md-4 text-center"><img src="../../../assets/images/icon-big/user100px.png" alt=""></div>
            <div class="col-md-4 text-center"><img src="../../../assets/images/icon-big/user100px.png" alt=""></div>
            <div class="col-md-4 text-center"><img src="../../../assets/images/icon-big/user100px.png" alt=""></div>
          </div>
        </div>


        <div style="margin-top:100px;">
          <div class="row">
            <div class="col-md-4" *ngFor="let i of [1,2,3]">
              <div class="box_border p-3">

                <p>
                  <img style="height:10px;" src="../../../assets/images/icon/star.png" alt=""><br>
                  Bubsy Mc Feezle, 06/21/2019
                </p>

                <p class="mt-3">
                  The graphics are cool looking, and the controls handle
                  better than most games, there are free cars and maps
                  and is a great little app to pass the time…
                </p>
              </div>
            </div>
          </div>

          <div class="text-center mt-5 mb-5">
            <a class="btn btn-primary-dark" routerLink="/game/profile/review">READ MORE REVIEWS</a>
          </div>
        </div>
      </div>
    </div>

  </section>
</app-header-template>


<div class="text-white" style="border-top: solid 1px #6c63ff; padding-top:50px;"></div>
<div class="container">
  <div class="text-white">
    <h3>Information</h3>
    <div class="mt-3 ml-4">
      <div class="row">
        <div class="col-md-3 col-sm-6">Developer:</div>
        <div class="col-md-9 col-sm-6">Intuitive Computers</div>
      </div>

      <div class="row">
        <div class="col-md-3 col-sm-6">Size:</div>
        <div class="col-md-9 col-sm-6">135.8 MB</div>
      </div>


      <div class="row">
        <div class="col-md-3 col-sm-6">Category:</div>
        <div class="col-md-9 col-sm-6">Games</div>
      </div>


      <div class="row">
        <div class="col-md-3 col-sm-6">Compatibility:</div>
        <div class="col-md-9 col-sm-6">Requires iOS 9.0 or later. Compatible with iPhone, iPad, and iPod touch.</div>
      </div>

      <div class="row">
        <div class="col-md-3 col-sm-6">Languages:</div>
        <div class="col-md-9 col-sm-6">English</div>
      </div>


      <div class="row">
        <div class="col-md-3 col-sm-6">Age Rating Rated:</div>
        <div class="col-md-9 col-sm-6">4+</div>
      </div>

      <div class="row">
        <div class="col-md-3 col-sm-6">Copyright:</div>
        <div class="col-md-9 col-sm-6">© 2011-2017 Intuitive Computers</div>
      </div>

      <div class="row">
        <div class="col-md-3 col-sm-6">Price:</div>
        <div class="col-md-9 col-sm-6">Free</div>
      </div>

      <div class="row">
        <div class="col-md-3 col-sm-6">In-App Purchases:</div>
        <div class="col-md-9 col-sm-6">Yes</div>
      </div>

      <div class="row">
        <div class="col-md-3 col-sm-6">Bundle:</div>
        <div class="col-md-9 col-sm-6">No</div>
      </div>
    </div>
  </div>
</div>
<div class="text-white" style="border-bottom: solid 1px #6c63ff; padding-top:50px;"></div>


<div class="container">
  <h4 class="mt-5 mb-5 text-light">More By This Developer</h4>
  <div class="container mt-5 mb-4" style="font-size: 0.8em !important;">
    <!-- First row-->
    <div class="mt-3 row">
      <div class="mb-3 col-md-3" *ngFor="let i of [1,2,3,4 ]">
        <div class="text-center" style="background: linear-gradient(rgba(111,111,111,0.5), rgba(107,107,107,0.5)),  url('../../../../assets/images/demo/game.png') no-repeat; background-size: cover; background-position: center center; border-radius: 20px; height:300px;">
          <div style="height:33%"></div>
          <a routerLink="/game/profile/">
            <img src="../../../../assets/images/icon/triangle.png"  alt="game icon"/>
            <h4 class="text-light mt-2" style="font-family: pantonblack_caps,sans-serif;text-transform: uppercase">Super Mario</h4>
          </a>
        </div>
      </div>
    </div>
  </div>

  <h4 class="mt-5 mb-5 text-light">Recommendations</h4>
  <div class="container mt-5 mb-4" style="font-size: 0.8em !important;">
    <!-- First row-->
    <div class="mt-3 row">
      <div class="mb-3 col-md-3" *ngFor="let i of [1,2,3,4]">
        <div class="text-center" style="background: linear-gradient(rgba(111,111,111,0.5), rgba(107,107,107,0.5)),  url('../../../../assets/images/demo/game.png') no-repeat; background-size: cover; background-position: center center; border-radius: 20px; height:300px;">
          <div style="height:33%"></div>
          <a routerLink="/game/profile/">
            <img src="../../../../assets/images/icon/triangle.png"  alt="game icon"/>
            <h4 class="text-light mt-2" style="font-family: pantonblack_caps,sans-serif;text-transform: uppercase">Super Mario</h4>
          </a>
        </div>
      </div>
    </div>
  </div>


</div>
