<!-- Footer Section -->
<footer class="mt-5 container">
  <div class="mb-4 pt-4 text-center" style="border-top: solid 1px #6c63ff;font-size: 0.8em !important;">
    <p class="pull-left text-light-50">Copyright © 2019 Buffer. All rights reserved.</p>
    <span>
            <a class="text-light-50 mr-3" href="#">Privacy</a>
            <a class="text-light-50 mr-3" href="#">Terms</a>
            <a class="text-light-50 mr-3" href="#">Legal</a>
          </span>
    <p class="pull-right">
      <a class="mr-3" href="#"><img style="width:auto;height:15px;" src="../../../../assets/images/social/youtube.png" alt=""></a>
      <a class="mr-3" href="#"><img style="width:auto;height:15px;" src="../../../../assets/images/social/instagram.png" alt=""></a>
      <a class="mr-3" href="#"><img style="width:auto;height:15px;" src="../../../../assets/images/social/twitter.png" alt=""></a>
      <a class="mr-3" href="#"><img style="width:auto;height:15px;" src="../../../../assets/images/social/facebook.png" alt=""></a>
    </p>
  </div>
</footer>
